<launch>

<arg name="path" default="/home/dearmoon/datasets/NWU/日雪不颠簸高速/enhancing_v2"/>

<node pkg="rosbag_tools" name="bag_merging" type="bag_merging"  output="screen">
    <param name="input_bag1" value="$(arg path)/21l.bag"/>
    <param name="input_bag2" value="$(arg path)/3/FilledCustomMsg.bag"/>
    <param name="output_bag" value="$(arg path)/3/r3live_input.bag"/>
</node>

</launch>